@import '../../styles/main.scss';

.header {
  padding: 40px 0;
  min-height: calc(100vh - 80px);
  background-color: var(--header-bg);
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: calc(100vh - 100px);
  background-position: left center;
  color: var(--project-card-text);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    background-position: center center;
  }

  &__wrapper {
    padding: 0 15px;
    max-width: 660px;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__text {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.3;
  }

  &__text p+p {
    margin-top: 0.5em;
  }

  &__btn {
    display: inline-block;
    height: 48px;
    padding: 12px 28px;
    border-radius: 5px;
    background-color: var(--accent);
    color: var(--white);
  }
}