.project-details {
  margin: 0 auto;
  max-width: 865px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  text-align: center;

  &__cover {
    max-width: 100%;
    margin-bottom: 40px;
    box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
  }

  &__swiper {

    &>* {
      height: 300px;
    }

    & img {
      box-shadow: var(--box-shadow);
      border-radius: 10px;
      height: 220px;
      object-fit: contain;
      background-color: var(--header-bg);
    }
  }

  &__swiper>div {
    padding: 40px;
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (min-width: 768px) {
      flex-direction: row;
    }

    *> {
      background-color: var(--box-shadow);
    }
  }

  &__tech-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    padding: 0;

    @media (min-width: 768px) {
      flex-direction: row;
      gap: 10px;
    }

    & li {
      margin: 10px 0;
      font-size: 18px;
      opacity: 0;
      transform: translateY(20px);
      animation: fadeIn 0.9s forwards;

      &:nth-child(odd) {
        animation-delay: 0.1s;
      }

      &:nth-child(even) {
        animation-delay: 0.3s;
      }
    }
  }

  &__description {
    line-height: 1.5;
    text-align: unset;
    padding: 10px 40px;
  }

  &__description,
  &__swiper {
    width: calc(100vw - 40px);
    max-width: 1200px;
  }
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}