.footer {
  margin-top: auto;
  padding: 30px 0 25px;
  background-color: var(--nav-bg);
  color: var(--text-color);

  @media (max-width: 726px) {
    padding: 20px 0 10px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;

    @media (max-width: 726px) {
      row-gap: 12px;
    }
  }

  &__icon {
    width: 24px;
  }

  &__icons {
    display: flex;
    column-gap: 30px;
    align-items: center;

    @media (max-width: 726px) {
      column-gap: 20px;
    }
  }

  &__icon {
    @media (max-width: 726px) {
      width: 20px;
    }
  }

  &__copyright {
    font-size: 16px;

    @media (max-width: 726px) {
      font-size: 12px;
    }

    & p+p {
      margin-top: 0.5em;
    }
  }
}